@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-BlackItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-BlackItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-BlackItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Italic.eot');
    src: url('../helvetica_neue/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Italic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Bold.eot');
    src: url('../helvetica_neue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Bold.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-HeavyItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-HeavyItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Light.eot');
    src: url('../helvetica_neue/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Light.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Light.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Black.eot');
    src: url('../helvetica_neue/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Black.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Black.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-BoldItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-BoldItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Heavy.eot');
    src: url('../helvetica_neue/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Heavy.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-MediumItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-MediumItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-UltraLight.eot');
    src: url('../helvetica_neue/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-UltraLight.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-UltraLightItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-UltraLightItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-LightItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-LightItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-ThinItalic.eot');
    src: url('../helvetica_neue/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-ThinItalic.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Medium.eot');
    src: url('../helvetica_neue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Medium.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Roman.eot');
    src: url('../helvetica_neue/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Roman.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica_neue/HelveticaNeue-Thin.eot');
    src: url('../helvetica_neue/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../helvetica_neue/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../helvetica_neue/HelveticaNeue-Thin.woff') format('woff'),
        url('../helvetica_neue/HelveticaNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}