<div class="firstSection pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex align-items-center">
                <div class="txt">
                    <span><b>What we do!</b></span>
                    <h1 class="mainHeading fw-semibold">
                        Smart CV Matching,<br>Better Results.<br>
                        Let AI do the magic.<br>
                        Get a match score,<br>Get hired.
                    </h1>
                </div>
            </div>
            <div class="col-7">
                <div class="firstSectionImage">
                    <img src="../static/images/firstSectionImage.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="secondSection pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="taxonomyListTitle">
                    <h3 class="fw-bold">
                        Services included
                    </h3>
                </div>
                <div class="taxonomyListItems d-flex flex-column">
                    <a href="/services/resume-matching" class="fs-15 fw-bold">AI-Powered Resume Matching</a>
                    <a href="/services/job-description" class="fs-15 fw-bold">Job Description Analysis</a>
                    <a href="/services/resume-score" class="fs-15 fw-bold">Resume Score Calculator</a>
                    <a href="/services/smart-screening" class="fs-15 fw-bold">Smart Resume Screening</a>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <div>
                    <p class="fs-17 fw-medium">We’ve designed a smart, intuitive platform that helps job seekers align
                        their
                        resumes with career opportunities. Using AI-driven insights, users receive instant match scores
                        and tailored feedback.</p>
                    <p class="fs-17 mb-0 fw-medium">With clean design, bold visuals, and simple tools, our goal is to
                        make career
                        growth clearer, faster, and more effective for everyone.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newImage text-center">
                    <img src="../static/images/homeBanner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thirdtSetcion pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.resume_file.label(class="form-label") }}
                        {{ form.resume_file(class="form-control") }}
                        {% for error in form.resume_file.errors %}
                        <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ form.job.label(class="form-label") }}
                        {{ form.job(class="form-control", rows="6") }}
                        {% for error in form.job.errors %}
                        <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn rounded-pill px-4 fw-semibold hover-slide float-end w-100">
                        {{ form.submit.label.text }}
                    </button>

                </form>

                <div class="p-4">
                    <div class="mx-auto text-start">
                        <p class="mb-0 fs-10625 fw-medium"><strong>Step 01 :</strong> Upload your resume in PDF format
                            only.</p>
                        <p class="mb-0 fs-10625 fw-medium"><strong>Step 02 :</strong> Paste the related job description
                            into the
                            textbox.
                        </p>
                        <p class="mb-0 fs-10625 fw-medium"><strong>Step 03 :</strong> Click the "Match" button to
                            analyze AI score.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                {% if not result %}
                <div class="p-4">
                    <h5 class="fw-semibold text-center fs-19375 mb-0">Ready to Know the AI Score!</h5>
                    <div class="text-center">
                        <img class="w-100" src="{{ url_for('static', filename='images/analyze-img.png') }}" alt="">
                    </div>
                </div>
                {% endif %}

                {% if result %}
                <div class="card p-4 shadow-sm">
                    <h5 class="text-green"><b>Match Score: {{ result.score }}%</b></h5>
                    <p class="text-primary mt-2"><strong>Suitability:</strong> {{ result.verdict }}</p>
                    <span class="mt-3 fs-14"><b>Parsed Resume Info:</b></span>
                    <ul class="list-group list-group-flush pt-3 border-0">
                        {% for key, value in result.parsed.items() %}
                        <li class="list-group-item fs-14 ps-0 border-0 pb-0">
                            <strong>{{ key }}:</strong> {{ value }}
                        </li>
                        {% endfor %}
                        <li class="list-group-item fs-14 ps-0 border-0 pb-0"><strong>Matched Skills:</strong>
                            {% if result.matched_skills %}
                            {{ result.matched_skills | join(', ') }}
                            {% else %}
                            None
                            {% endif %}
                        </li>
                    </ul>
                    {% if result and result.feedback %}
                    <div class="alert alert-info mt-3">
                        <strong>Feedback:</strong> {{ result.feedback }}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="fifthtSection pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <div class="bigHeading">
                    <p class="fs-19375 text-center mb-0 fw-semibold">We’ve had great feedback from job seekers and
                        recruiters. Our
                        AI
                        platform
                        simplifies
                        hiring by delivering clear match scores between resumes and job descriptions. With smart design
                        and
                        deep insights, it helps users refine their CVs and make confident career moves.</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<div class="fourthtSecion pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 guideChecker align-items-center text-center">
                <a class="txt-white fw-semibold" href="/contact">Match CV &nbsp;<i
                        class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>